@import 'libs/elements';
@import 'libs/app';

@asset-path:   '/assets';
@img-path:     '@{asset-path}/images';
@font-path:    '@{asset-path}/fonts';
@imgdata-path: '_images';



.LoadFont('amatic_scregular',  'amaticsc-regular-webfont');
@text-color: #333;
@link-color: #d41bc0;


//@mobile-media: ~"only screen and (max-width: 767px)";


._selection () {
	color:@white; background-color:@black;
}
.selection();








html {
	background:@white data-uri('@{imgdata-path}/bg.png') center top repeat;
}
body {
	max-width:768px;
	margin:50px auto;
	font-family:'amatic_scregular', sans-serif; font-weight:normal !important; font-style:normal !important;
	font-size:36px; color:@text-color; line-height:1.3;
}
a {
	color:@text-color; text-decoration:none;
	.transition(0.15s);

	&:hover {
		&, &:before {
			color:@link-color;
		}
	}
}

header, div {
	width:300px;
	margin:0 auto; padding:0 10px;

	@media (min-width:768px) {
		float:left;
		margin:0 32px;
	}
}

ul {
	display:block;
	margin:100px 0 0 0;
	text-align:center;

	li {
		strong {
			display:inline-block;
			width:105px;
			font-weight:normal; text-align:right;
		}

		a {
			display:inline-block; position:relative;
			width:105px;
			margin:0 0 0 10px; padding:0 0 0 20px;
			text-align:left;

			&:before {
				content:'/';
				position:absolute;
				left:6px; top:2px;
			}

			span {
				font-family:sans-serif; font-size:20px;
			}
		}
	}
}





footer {
	clear:both;
	margin:60px 0 0 0;
	font-size:24px; text-align:center;
}





